.App {
  max-width: 880px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #000000;
  font-family: "Inter", "Arial", sans-serif;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
