.profile__button-edit {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/Button-Edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7.5px 7.5px;
  background-color: #000000;
  width: 18px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1024px) {
  .profile__button-edit {
    width: 24px;
    height: 24px;
    background-size: 10px 10px;
    transform: translateY(3px);
  }
}
