.pop-up__container {
  position: relative;
  box-sizing: border-box;
  width: calc(100vw - 38px);
  min-height: 181px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0;
  padding: 25px 22px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 466px) {
  .pop-up__container {
    padding: 34px 36px 37px;
    max-width: 430px;
  }
}
