.card__button-delete{
  background-image: url(../../../images/Button-DeleteCard.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 18px;
  height: 19px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
}

.card__button-delete:hover {
  opacity: 0.5;
}