.card__button-like {
  background-image: url(../../../images/Button-like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 1;
  width: 22px;
  height: 19px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  background-color: transparent;
}

.card__button-like:hover {
  opacity: 0.5;
}

.card__button-like:active {
  background-image: url(../../../images/Button-like-active.svg);
  opacity: 1;
}
